<app-layout>

    <!-- <p>aluno works!</p> -->
    
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Alunos</h3>

            <div class="row">
                <div class="form-group col-12">
                    <label class="control-label" for="nome">Nome:</label>
                    <input class="form-control" [(ngModel)]="aluno.nome" />
                </div>
                
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" (click)="consultar()">Consultar</button>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="table-responsive col-lg-12">
                    <table class="table table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Data Início</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aluno of listaAluno">
                                <td>
                                    <input type="radio" name="selecionado" (change)="selecionar(aluno)" />
                                </td>
                                <td>{{ aluno.codigo }}</td>
                                <td>{{ aluno.nome }}</td>
                                <td>{{ aluno.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <div class="btn-group">
                <div class="col-4">
                        <button type="button" class="btn btn-primary" (click)="incluir()">Incluir</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary" (click)="alterar()">Alterar</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-danger" (click)="remover()">Excluir</button>
                </div>
            </div>
        </div>

        </div>
    </div>
</app-layout>